article {
    @include clearfix;
    img{
        padding: 15px;
    }
    .field--name-field-image {
        float: left;
        margin-bottom: 10px;
        margin-right: 15px;
        padding: 4px;
        border: 1px solid #dadada;

        @include border-radius(5px);
    }

    .field--name-body {
        position: relative;
        top: -4px;
    }

    > footer {
        color: #737373;
        font-size: $fs-14;
        line-height: 1;
        padding: 0 0 1.5em;
    }

    .field--type-comment, .node__links {
        clear: both;
    }
   
}