// ==========================================================================
// Typography
// ==========================================================================
body {
    -webkit-text-size-adjust: 100%;
    -webkit-font-smoothing: antialiased;
    font-size: $fs-body;
    color: $dark_grey;
    background: #f6f6f6;
}

html {
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
    -webkit-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%;
    font-size: 100%;
    text-rendering: auto;
}

header, nav, section, article, figure, aside, footer {
    display: block;
}

a {
    color: #d9534f;
}

a:hover, a:focus {
    outline: none;
    text-decoration: none;
    color: #b92c28;
}

h1, .h1 {
    font-size: 1.84em;
}

h1, .h1, h2, .h2, h3, .h3 {
    margin: 0 0 15px;
    line-height: 1.3;
    font-family: $font-body;
}

h2 {
    font-size: 1.57em;
    font-family: $font-body;
}

h3, .h3 {
    font-size: 1.428em;
}

h4, h5, h6 {
    margin-bottom: 15px;
    font-size: 1em;
}

address {
    margin-bottom: 15px;
}

img {
    max-width: 100%;
    height: auto;
}

input, button, select, textarea {
    padding: 5px 6px 7px 6px;
    border: 1px solid #ddd;
    outline: none;
}

label {
    font-weight: normal;
}

p {
    margin-bottom: 15px;
    text-align: justify;
}

/* BUTTON */

.form-actions .form-submit {
    margin: 0 10px 10px 0;
    border: none;
    padding: 8px 20px;
    color: #fff;
    background: $red;
    border-radius: 3px;
    -webkit-border-radius: 3px;
    cursor: pointer;
    &:hover, &:focus {
        background-color: $dark_grey;
    }
}